#up, #down {
    width: 200px;
    height: 200px;
}
#up{
    position: absolute;
    background-color: skyblue;
    transition: all 1s;
}
#down{
    position: relative;
    left: 100px;
    top: 100px;
    background-color: thistle;
    transition: all 1s;
}

#box{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgb(247, 118, 178);
    cursor: pointer;
    transition: all 1s;
}
#up:hover{
    width: 700px;
}
#down:hover{
    width: 700px;   
} 
#box:hover{
    width: 700px;
}
