

body{
    background-color: #333333;
    margin: 0;
    padding: 0;
    
} 
p{
    color: white;
    font-size: 30px;
    display: inline;
    border-right: 4px solid rgb(255, 204, 255);
    animation : blink 1s infinite;
    padding-right: 8px;
}
@keyframes blink{
    50%{
        border-right: none;
    }
}